.container{
    display: grid;
    grid-template-areas: 
    "div1 div1 div1"
    "div2 div3 div3"
    "div4 div3 div3"
    "div4 div5 div5"
    "div6 div6 div7"
    "div8 div8 div8"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.div1{
    grid-area: div1;
    background-color: rgb(42, 99, 165);
height: 60px;

}
.div2{
    grid-area: div2;
    background-color:rgb(155, 116, 129);
    height: 170px;
}
.div3{
    grid-area: div3;
    background-color: yellow;
    height: 300px;
}
.div4{
    grid-area: div4;
    background-color: darkolivegreen;
    height: 230px;
    
}
.div5{
    grid-area: div5;
    background-color: gray;
    height: 100px;
}
.div6{
    grid-area: div6;
    background-color: green;
}
.div7{
    grid-area: div7;
    background-color: hotpink;
}
.div8{
    grid-area: div8;
    background-color: orange;
    height: 70px;
}
h1{
    text-align: center;
    color: white;
}